[submodule "gemmforge"]
	path = gemmforge
	url = https://github.com/SeisSol/gemmforge.git
	branch = tensor-support
[submodule "yateto"]
	path = yateto
	url = https://github.com/ThrudPrimrose/yateto.git
